html {
    height: 100%;
    width: 100%;
    position:relative;
}

body {
    width: 100%;
    height: 100%;
}

.mainBody {
    position: absolute;
    width: 100%;
    background-color: blue;
    display: grid;
    grid-template-columns: 20% auto 20%;
    height: 100%;
}

.navColumn {
    background-color: pink;
    height: 100%;
}

.profileColumn {
    background-color: green;

    
}

.suggestionColumn {
    background-color: pink;
}

.headerImg {
    padding-top: 12%;
    position: relative;
    background: purple;
    margin: 0 auto;
    z-index: 10;
}

.profilePic {
    position: relative;
    background: lightblue;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    z-index: 11;
    margin-top: -50px;
    margin-left: 20px;
}


